<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interact Bot</title>
</head>
<body>
    <form action="/interview" method="get">
        <h2>BOT</h2>
        <hr>
        <h3>Work in Progress</h3>
        <hr>
        <div>
            <label >Do You want to Start Interview</label><br><br>
        <input type="submit" name="botSubmit" id="botSubmit" value="Yes Sure!"> &nbsp;
        <input type="submit" formaction="/feedback" name="feedback" id="feedback" value='No'>
        <p style="color: red;">Note- Once you select No option your interview got cancelled and page redirected to a feedback form </p>
    </div>

    </form>
    
</body>
</html>