<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interview Bot</title>
</head>
<body>
    <h1>
        Interview Bot ver 1.0
    </h1>
    <hr>
    <h3>Terms And Condition</h3>
    <p></p>
    <hr>
    <h3>Description</h3>
    <p></p>
    <hr>
    <h3>About us</h3>
    <p></p>
    <hr>
    <form action="/register" >
    <input type="submit" name="sub" id="sub" >
</form>
</body>
</html>